body {
    font-family: "helvetica", sans-serif;
    text-align: center;
    /* background-color: powderblue; */
  }

h1 {
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: center;
}

.center-content {
  text-align: center;
}

#sign-out {
  margin-bottom: 2%;
}